{% extends "base.html" %}
{% block content %}
{% filter markdown %}

# Hi, I'm Eric
* Currently, I'm a Hardware Hacker at [Upverter](http://www.upverter.com) and
the Electrical Team Lead for the
[University of Waterloo Alternative Fuels Team](http://uwaft.com)
* I write for [Hackaday](http://hackaday.com)
* I'm a third year co-op student studying Electrical Engineering at the 
  [University of Waterloo](http://uwaterloo.ca)
* I've worked at [Tesla Motors](http://teslamotors.com),
[CrossChasm Technologies](http://crosschasm.com), and
[Dome Productions](http://www.domeprod.com) on past co-op terms.
* You can find me on [Twitter](http://twitter.com/ericevenchick),
  [GitHub](http://github.com/ericevenchick), and
  [LinkedIn](http://www.linkedin.com/pub/eric-evenchick/27/b5/796)

{% endfilter %}
{% endblock %}

